<!-- ===========================-->
<!-- Created by Jeannaej Yambing-->
<!-- ===========================-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>2019 US Real Estate</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
        <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- ==================================================== -->
        <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <!-- Supplied to us by fellow student Matt Killeen to help scale map to size of container -->
    <!-- ======================================================== -->

</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-md-12 jumbotron text-center">
                <h1>2019 Trulia Real Estate Dashboard</h1>
                <h4>By Andy McRae, Anthony Njuguna, Jeannaej Yambing, and Sam Ziegler</h4>
                    <p>Use the interactive charts below to explore US Real Estate Data </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="well">
                    <h3>Project Description</h3>
                    <p>The 2019 Trulia Real Estate Dashboard explores the distribution of real estate sales in the United States listed on Trulia.com.
                         The data comes from the period between September 1st, 2019 and October 31st, 2019. 
                         The interactive map displays the price, square feet, and the number of beds and baths in each unit. 
                         In addition, there is a bar graph that explores which unit size is the most popular,
                         and a donut graph that shows the distribution of units that were built in each decade.
                    </p>
                    <br>
                    <h3>Pick a State</h3>
                    <select id="selState" onchange="optionChanged(this.value)"></select>
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <div class="well">
                        <div id="map"></div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="well">
                    <div id="line"></div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="well">
                    <div id="donut">
                        <canvas id="myChart"></canvas>
                    </div>
                </div>
            </div>

            

        </div>

        <!-- Leaflet JS -->
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
        integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
        crossorigin=""></script>

        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
      
        <!--Importing Chart.js-->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- imports main d3Caching code -->
        <!-- This was supplied to us by TA Benji to help speed up code. -->
        <!-- Its purpose is to call the data only once -->
        <script type="text/javascript" src="static/js/d3Caching.js"></script>
        <!-- <script src="./static/app.js"></script> -->

        <!-- imports main JavaScript code -->
        <script type="text/javascript" src="static/js/main.js"></script>
        <!-- imports Mapbox API code -->
        <script type="text/javascript" src="static/js/config.js"></script>
        <!-- imports zoom.js JavaScript code -->
        <script type="text/javascript" src="static/js/zoom.js"></script>
        <!-- imports leaflet JavaScript code -->
        <script type="text/javascript" src="static/js/leaf.js"></script>



</body>

<footer>
    <div class="text-center">
        <h5>
            Data Analytics and Visualization Bootcamp Univeristy of Minnesota - Twin Cities
        </h5>
        <br>
        <h6> Datasets found from https://www.kaggle.com/promptcloud/real-estate-data-from-trulia
            and https://developers.google.com/public-data/docs/canonical/states_csv</h3>
        </h6>
        <hr>
        <h6>
            <a class='json' href='/graphsdata'>Trulia Real Estate Data</a>
            <br>
            <a class='json' href='/statesdata'>State's Centers Data</a>
        </h6>

    </div>
</footer>

</html>